In [1]:
import requests
import pandas as pd

# Poverty API Data

In [2]:
url_state = 'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,SAEPOV0_4_PT,SAEPOV0_4_UB90,SAEPOV5_17R_LB90,SAEPOV5_17R_MOE,SAEPOV5_17R_PT,SAEPOV5_17R_UB90,SAEPOVALL_LB90,SAEPOVALL_MOE,SAEPOVALL_PT,SAEPOVALL_UB90,SAEPOVRT0_17_LB90,SAEPOVRT0_17_MOE,SAEPOVRT0_17_PT,SAEPOVRT0_17_UB90,SAEPOVRT0_4_LB90,SAEPOVRT0_4_MOE,SAEPOVRT0_4_PT,SAEPOVRT0_4_UB90,SAEPOVRT5_17R_LB90,SAEPOVRT5_17R_MOE,SAEPOVRT5_17R_PT,SAEPOVRT5_17R_UB90,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR&for=state:*'
url_nat = 'https://api.census.gov/data/timeseries/poverty/saipe?get=SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,SAEPOV0_4_PT,SAEPOV0_4_UB90,SAEPOV5_17R_LB90,SAEPOV5_17R_MOE,SAEPOV5_17R_PT,SAEPOV5_17R_UB90,SAEPOVALL_LB90,SAEPOVALL_MOE,SAEPOVALL_PT,SAEPOVALL_UB90,SAEPOVRT0_17_LB90,SAEPOVRT0_17_MOE,SAEPOVRT0_17_PT,SAEPOVRT0_17_UB90,SAEPOVRT0_4_LB90,SAEPOVRT0_4_MOE,SAEPOVRT0_4_PT,SAEPOVRT0_4_UB90,SAEPOVRT5_17R_LB90,SAEPOVRT5_17R_MOE,SAEPOVRT5_17R_PT,SAEPOVRT5_17R_UB90,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR&for=us'

state_poverty_response = requests.get(url_state)
nat_poverty_response = requests.get(url_nat)

In [3]:
state_poverty_json = state_poverty_response.json()
nat_poverty_json = nat_poverty_response.json()

In [4]:
poverty_state = pd.DataFrame(state_poverty_json[1:], columns=state_poverty_json[0])
poverty_nat = pd.DataFrame(nat_poverty_json[1:], columns=nat_poverty_json[0])

In [5]:
print(poverty_state.shape)

print(poverty_state.columns)

print(poverty_nat.shape)

print(poverty_nat.columns)

display(poverty_state.head(1))

(1479, 42)
Index(['NAME', 'SAEMHI_MOE', 'SAEMHI_PT', 'SAEMHI_UB90', 'SAEPOV0_17_LB90',
       'SAEPOV0_17_MOE', 'SAEPOV0_17_PT', 'SAEPOV0_17_UB90', 'SAEPOV0_4_LB90',
       'SAEPOV0_4_MOE', 'SAEPOV0_4_PT', 'SAEPOV0_4_UB90', 'SAEPOV5_17R_LB90',
       'SAEPOV5_17R_MOE', 'SAEPOV5_17R_PT', 'SAEPOV5_17R_UB90',
       'SAEPOVALL_LB90', 'SAEPOVALL_MOE', 'SAEPOVALL_PT', 'SAEPOVALL_UB90',
       'SAEPOVRT0_17_LB90', 'SAEPOVRT0_17_MOE', 'SAEPOVRT0_17_PT',
       'SAEPOVRT0_17_UB90', 'SAEPOVRT0_4_LB90', 'SAEPOVRT0_4_MOE',
       'SAEPOVRT0_4_PT', 'SAEPOVRT0_4_UB90', 'SAEPOVRT5_17R_LB90',
       'SAEPOVRT5_17R_MOE', 'SAEPOVRT5_17R_PT', 'SAEPOVRT5_17R_UB90',
       'SAEPOVRTALL_LB90', 'SAEPOVRTALL_MOE', 'SAEPOVRTALL_PT',
       'SAEPOVRTALL_UB90', 'SAEPOVU_0_17', 'SAEPOVU_0_4', 'SAEPOVU_5_17R',
       'SAEPOVU_ALL', 'YEAR', 'state'],
      dtype='object')
(29, 41)
Index(['SAEMHI_MOE', 'SAEMHI_PT', 'SAEMHI_UB90', 'SAEPOV0_17_LB90',
       'SAEPOV0_17_MOE', 'SAEPOV0_17_PT', 'SAEPOV0_17_UB90', 'SAEPOV0_4_LB90',
       'SAEPOV0_4_MOE', 'SAEPOV0_4_PT', 'SAEPOV0_4_UB90', 'SAEPOV5_17R_LB90',
       'SAEPOV5_17R_MOE', 'SAEPOV5_17R_PT', 'SAEPOV5_17R_UB90',
       'SAEPOVALL_LB90', 'SAEPOVALL_MOE', 'SAEPOVALL_PT', 'SAEPOVALL_UB90',
       'SAEPOVRT0_17_LB90', 'SAEPOVRT0_17_MOE', 'SAEPOVRT0_17_PT',
       'SAEPOVRT0_17_UB90', 'SAEPOVRT0_4_LB90', 'SAEPOVRT0_4_MOE',
       'SAEPOVRT0_4_PT', 'SAEPOVRT0_4_UB90', 'SAEPOVRT5_17R_LB90',
       'SAEPOVRT5_17R_MOE', 'SAEPOVRT5_17R_PT', 'SAEPOVRT5_17R_UB90',
       'SAEPOVRTALL_LB90', 'SAEPOVRTALL_MOE', 'SAEPOVRTALL_PT',
       'SAEPOVRTALL_UB90', 'SAEPOVU_0_17', 'SAEPOVU_0_4', 'SAEPOVU_5_17R',
       'SAEPOVU_ALL', 'YEAR', 'us'],
      dtype='object')

,NAME,SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,...,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR,state
0,Alabama,1076,22202,23278,243761,14895,258656,273551,66684,8852,...,17.0,0.65,17.7,18.3,None,None,None,None,1989,01

In [6]:
print(poverty_nat.isna().sum())

SAEMHI_MOE            0
SAEMHI_PT             0
SAEMHI_UB90           0
SAEPOV0_17_LB90       0
SAEPOV0_17_MOE        0
SAEPOV0_17_PT         0
SAEPOV0_17_UB90       0
SAEPOV0_4_LB90        0
SAEPOV0_4_MOE         0
SAEPOV0_4_PT          0
SAEPOV0_4_UB90        0
SAEPOV5_17R_LB90      0
SAEPOV5_17R_MOE       0
SAEPOV5_17R_PT        0
SAEPOV5_17R_UB90      0
SAEPOVALL_LB90        0
SAEPOVALL_MOE         0
SAEPOVALL_PT          0
SAEPOVALL_UB90        0
SAEPOVRT0_17_LB90     0
SAEPOVRT0_17_MOE      0
SAEPOVRT0_17_PT       0
SAEPOVRT0_17_UB90     0
SAEPOVRT0_4_LB90      0
SAEPOVRT0_4_MOE       0
SAEPOVRT0_4_PT        0
SAEPOVRT0_4_UB90      0
SAEPOVRT5_17R_LB90    0
SAEPOVRT5_17R_MOE     0
SAEPOVRT5_17R_PT      0
SAEPOVRT5_17R_UB90    0
SAEPOVRTALL_LB90      0
SAEPOVRTALL_MOE       0
SAEPOVRTALL_PT        0
SAEPOVRTALL_UB90      0
SAEPOVU_0_17          5
SAEPOVU_0_4           5
SAEPOVU_5_17R         5
SAEPOVU_ALL           5
YEAR                  0
us                    0
dtype: int64

In [8]:
print(poverty_nat.value_counts())

SAEMHI_MOE  SAEMHI_PT  SAEMHI_UB90  SAEPOV0_17_LB90  SAEPOV0_17_MOE  SAEPOV0_17_PT  SAEPOV0_17_UB90  SAEPOV0_4_LB90  SAEPOV0_4_MOE  SAEPOV0_4_PT  SAEPOV0_4_UB90  SAEPOV5_17R_LB90  SAEPOV5_17R_MOE  SAEPOV5_17R_PT  SAEPOV5_17R_UB90  SAEPOVALL_LB90  SAEPOVALL_MOE  SAEPOVALL_PT  SAEPOVALL_UB90  SAEPOVRT0_17_LB90  SAEPOVRT0_17_MOE  SAEPOVRT0_17_PT  SAEPOVRT0_17_UB90  SAEPOVRT0_4_LB90  SAEPOVRT0_4_MOE  SAEPOVRT0_4_PT  SAEPOVRT0_4_UB90  SAEPOVRT5_17R_LB90  SAEPOVRT5_17R_MOE  SAEPOVRT5_17R_PT  SAEPOVRT5_17R_UB90  SAEPOVRTALL_LB90  SAEPOVRTALL_MOE  SAEPOVRTALL_PT  SAEPOVRTALL_UB90  SAEPOVU_0_17  SAEPOVU_0_4  SAEPOVU_5_17R  SAEPOVU_ALL  YEAR  us
104         46242      46346        13217771         142502          13360273       13502775         4187205         55743          4242948       4298691         8662789           102752           8765541         8868293           37934924        296550         38231474      38528024        18.4               0.15              18.5             18.7               21.0              0.25             21.3            21.5              16.8                0.20               17.0              17.2                13.2              0.10             13.3            13.4              72023983      19959312     51658744       287270432    2005  00    1
115         57617      57732        13976345         139368          14115713       14255081         4108397         48552          4156949       4205501         9548767           99719            9648486         9748205           44022086        246910         44268996      44515906        19.3               0.20              19.5             19.7               21.1              0.20             21.3            21.5              18.1                0.20               18.3              18.5                13.9              0.10             14.0            14.1              72452603      19473767     52644648       315165470    2016  00    1
93          53657      53750        15564145         121867          15686012       15807879         4609104         49083          4658187       4707270         10632252          82266            10714518        10796784          47966830        241557         48208387      48449944        21.5               0.20              21.7             21.9               23.7              0.20             23.9            24.1              20.2                0.20               20.4              20.6                15.4              0.10             15.5            15.6              72386485      19453155     52594799       310899910    2014  00    1
89          67340      67429        11176652         27771           11204423       11232194         3133736         12589          3146325       3158914         7778138           20428            7798566         7818994           38309115        62279          38371394      38433673        15.7               0.00              15.7             15.7               16.7              0.10             16.8            16.9              14.9                0.00               14.9              14.9                11.9              0.00             11.9            11.9              71388957      18752913     52357364       321478113    2020  00    1
86          60336      60422        13229339         123863          13353202       13477065         3880645         52324          3932969       3985293         9033090           87413            9120503         9207916           42342619        241032         42583651      42824683        18.2               0.20              18.4             18.6               19.9              0.30             20.2            20.5              17.1                0.20               17.3              17.5                13.3              0.10             13.4            13.5              72452925      19457844     52669201       317741588    2017  00    1
85          55775      55860        14862975         137298          15000273       15137571         4397105         51106          4448211       4499317         10145484          99544            10245028        10344572          45878016        275061         46153077      46428138        20.5               0.20              20.7             20.9               22.5              0.30             22.8            23.1              19.3                0.20               19.5              19.7                14.6              0.10             14.7            14.8              72454786      19489402     52635679       313476400    2015  00    1
82          48451      48533        13170950         114619          13285569       13400188         4166465         44880          4211345       4256225         8613863           86185            8700048         8786233           38535015        222238         38757253      38979491        18.2               0.15              18.3             18.5               20.8              0.20             21.0            21.2              16.6                0.15               16.7              16.9                13.2              0.10             13.3            13.4              72482732      20066651     51999081       291531091    2006  00    1
75          50740      50815        12981173         115927          13097100       13213027         4178842         50278          4229120       4279398         8419720           80124            8499844         8579968           37829283        222964         38052247      38275211        17.9               0.15              18.0             18.2               20.5              0.25             20.8            21.0              16.2                0.15               16.4              16.5                12.9              0.05             13.0            13.0              72665911      20348501     51904411       293744043    2007  00    1
74          50221      50295        14526159         130803          14656962       14787765         4792377         57611          4849988       4907599         9419830           89312            9509142         9598454           42631574        236589         42868163      43104752        19.8               0.20              20.0             20.2               23.0              0.25             23.2            23.5              18.1                0.15               18.2              18.4                14.3              0.05             14.3            14.4              73347404      20878285     52143306       299026555    2009  00    1
73          52029      52102        13115296         125574          13240870       13366444         4311741         57957          4369698       4427655         8469455           80071            8549526         8629597           38858742        249680         39108422      39358102        18.0               0.20              18.2             18.4               20.9              0.30             21.2            21.5              16.3                0.15               16.5              16.6                13.1              0.10             13.2            13.3              72825003      20602241     51864080       296184480    2008  00    1
            50502      50575        16262247         124253          16386500       16510753         5061357         48730          5110087       5158817         10882675          94312            10976987        11071299          48217869        234166         48452035      48686201        22.3               0.20              22.5             22.7               25.6              0.20             25.8            26.0              20.6                0.20               20.8              21.0                15.8              0.10             15.9            16.0              72802773      19772854     52708799       303778193    2011  00    1
65          52250      52315        15948844         138116          16086960       16225076         4759374         52315          4811689       4864004         10860529          97703            10958232        11055935          48554692        256176         48810868      49067044        22.0               0.20              22.2             22.4               24.5              0.30             24.8            25.1              20.6                0.20               20.8              21.0                15.7              0.10             15.8            15.9              72382173      19438875     52605987       308196783    2013  00    1
64          50046      50110        15621395         127734          15749129       15876863         4910772         50752          4961524       5012276         10394015          90498            10484513        10575011          45975650        240306         46215956      46456262        21.4               0.20              21.6             21.8               24.8              0.20             25.0            25.2              19.6                0.20               19.8              20.0                15.2              0.10             15.3            15.4              73024577      19822633     52872735       301535021    2010  00    1
53          51371      51424        16275868         120995          16396863       16517858         4971692         43278          5014970       5058248         10995403          91134            11086537        11177671          48528543        231580         48760123      48991703        22.4               0.20              22.6             22.8               25.4              0.20             25.6            25.8              20.8                0.20               21.0              21.2                15.8              0.10             15.9            16.0              72605436      19611275     52675863       306086063    2012  00    1
378         38885      39263        12979586         486958          13466544       13953502         3752962         285622         4038584       4324206         8511476           411459           8922935         9334394           33555896        919866         34475762      35395628        18.2               0.70              18.9             19.6               19.4              1.45             20.8            22.3              16.7                0.80               17.5              18.3                12.4              0.35             12.7            13.1              71338364      19382484     51060953       271059449    1998  00    1
322         44334      44656        12694086         347406          13041492       13388898         3917910         205805         4123715       4329520         8142299           288587           8430886         8719473           36359662        680142         37039804      37719946        17.3               0.50              17.8             18.3               19.5              1.00             20.5            21.5              15.6                0.55               16.2              16.7                12.5              0.25             12.7            13.0              73241407      20121433     52159407       290616537    2004  00    1
313         40696      41009        11810623         469698          12280321       12750019         3323894         270522         3594416       3864938         7791630           396438           8188068         8584506           31891000        900272         32791272      33691544        16.5               0.65              17.1             17.8               17.5              1.45             18.9            20.4              15.1                0.75               15.9              16.6                11.5              0.35             11.9            12.2              71684956      18968750     51642359       276207757    1999  00    1
309         43318      43627        12519657         346149          12865806       13211955         3817517         203849         4021366       4225215         8111130           288443           8399573         8688016           35190401        670769         35861170      36531939        17.2               0.45              17.6             18.1               19.3              1.05             20.3            21.4              15.5                0.55               16.1              16.6                12.2              0.25             12.5            12.7              72999159      19763309     52278842       287699184    2003  00    1
229         42409      42638        11795343         337302          12132645       12469947         3530466         196727         3727193       3923920         7722500           282014           8004514         8286528           33912173        657778         34569951      35227729        16.2               0.50              16.7             17.2               18.0              1.00             19.0            20.0              14.8                0.55               15.3              15.9                11.9              0.20             12.1            12.3              72695775      19594188     52168584       285317346    2002  00    1
217         41990      42207        11127838         459280          11587118       12046398         3312911         270187         3583098       3853285         7154100           382475           7536575         7919050           30695361        885725         31581086      32466811        15.5               0.65              16.2             16.8               17.3              1.40             18.7            20.1              13.9                0.75               14.6              15.4                11.0              0.30             11.3            11.6              71741141      19181906     51548879       278944452    2000  00    1
212         42228      42440        11403410         329274          11732684       12061958         3383307         192572         3575879       3768451         7387461           274833           7662294         7937127           32262565        643946         32906511      33550457        15.8               0.45              16.3             16.7               17.6              1.00             18.6            19.6              14.3                0.50               14.8              15.3                11.5              0.20             11.7            11.9              72020548      19257993     51820491       281474939    2001  00    1
134         69717      69851        12110180         133039          12243219       12376258         3299669         49480          3349149       3398629         8533254           103021           8636275         8739296           41149497        243679         41393176      41636855        16.7               0.20              16.9             17.1               18.0              0.30             18.3            18.6              15.9                0.20               16.1              16.3                12.7              0.10             12.8            12.9              72297129      18313189     53700713       324173084    2021  00    1
118         65712      65830        11865995         134475          12000470       12134945         3405854         51835          3457689       3509524         8160650           98256            8258906         8357162           39248096        242000         39490096      39732096        16.6               0.20              16.8             17.0               17.9              0.30             18.2            18.5              15.6                0.20               15.8              16.0                12.2              0.10             12.3            12.4              71633453      19002162     52324733       320118791    2019  00    1
94          61937      62031        12873127         124405          12997532       13121937         3714862         43842          3758704       3802546         8834521           95631            8930152         9025783           41619366        232949         41852315      42085264        17.8               0.20              18.0             18.2               19.3              0.20             19.5            19.7              16.8                0.20               17.0              17.2                13.0              0.10             13.1            13.2              72163269      19301529     52529919       319184033    2018  00    1
dtype: int64

In [9]:
print(poverty_nat.dtypes)

SAEMHI_MOE            object
SAEMHI_PT             object
SAEMHI_UB90           object
SAEPOV0_17_LB90       object
SAEPOV0_17_MOE        object
SAEPOV0_17_PT         object
SAEPOV0_17_UB90       object
SAEPOV0_4_LB90        object
SAEPOV0_4_MOE         object
SAEPOV0_4_PT          object
SAEPOV0_4_UB90        object
SAEPOV5_17R_LB90      object
SAEPOV5_17R_MOE       object
SAEPOV5_17R_PT        object
SAEPOV5_17R_UB90      object
SAEPOVALL_LB90        object
SAEPOVALL_MOE         object
SAEPOVALL_PT          object
SAEPOVALL_UB90        object
SAEPOVRT0_17_LB90     object
SAEPOVRT0_17_MOE      object
SAEPOVRT0_17_PT       object
SAEPOVRT0_17_UB90     object
SAEPOVRT0_4_LB90      object
SAEPOVRT0_4_MOE       object
SAEPOVRT0_4_PT        object
SAEPOVRT0_4_UB90      object
SAEPOVRT5_17R_LB90    object
SAEPOVRT5_17R_MOE     object
SAEPOVRT5_17R_PT      object
SAEPOVRT5_17R_UB90    object
SAEPOVRTALL_LB90      object
SAEPOVRTALL_MOE       object
SAEPOVRTALL_PT        object
SAEPOVRTALL_UB90      object
SAEPOVU_0_17          object
SAEPOVU_0_4           object
SAEPOVU_5_17R         object
SAEPOVU_ALL           object
YEAR                  object
us                    object
dtype: object

In [12]:
import seaborn as sns
from matplotlib import pyplot as plt

poverty_state.dropna()

plt.figure(figsize=(10,6))

cmap=poverty_state.corr()

sns.heatmap(cmap)

ValueError: zero-size array to reduction operation fmin which has no identity

# National Salary Data

In [9]:
national2018_df = pd.read_excel("data/national_M2018_dl.xlsx")
national2019_df = pd.read_excel("data/national_M2019_dl.xlsx")
national2020_df = pd.read_excel("data/national_M2020_dl.xlsx")
national2021_df = pd.read_excel("data/national_M2021_dl.xlsx")
national2017_df = pd.read_excel("data/national_M2017_dl.xlsx")
national2017_df['Year'] = 2017
national2018_df['Year'] = 2018
national2019_df['Year'] = 2019
national2020_df['Year'] = 2020
national2021_df['Year'] = 2021

In [10]:
def upper_columns(data):
    columns = data
    myList = []
    for name in columns:
        myList.append(name.upper())
    data.columns = myList

In [11]:
upper_columns(national2017_df)
upper_columns(national2018_df)
upper_columns(national2019_df)
upper_columns(national2020_df)
upper_columns(national2021_df)

In [12]:
national2019_df = national2019_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
national2020_df = national2020_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
national2021_df = national2021_df.rename(columns={'O_GROUP': 'OCC_GROUP'})

In [13]:
national2017_ordered = national2017_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2018_ordered = national2018_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2019_ordered = national2019_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2020_ordered = national2020_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2021_ordered = national2021_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]

In [14]:
national_df = pd.concat([national2017_ordered, national2018_ordered, national2019_ordered, national2020_ordered, national2021_ordered], axis=0)
national_df.shape
national_df.columns

Index(['OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
       'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
       'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
       'YEAR'],
      dtype='object')

In [15]:
cols = list(national_df.columns)
for col in cols: 
    national_df = national_df[national_df[col] != '#']
    national_df = national_df[national_df[col] != '*']
    national_df = national_df[national_df[col] != '**']
national_df.head(1)

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,00-0000,All Occupations,total,142549250,0.1,24.34,50620,0.1,9.6,11.91,18.12,29.38,46.23,19970,24770,37690,61110,96150,2017

In [16]:
national_df = national_df.astype({'TOT_EMP': int, 'EMP_PRSE': float, 'H_MEAN': float,
       'A_MEAN': float, 'MEAN_PRSE': float, 'H_PCT10': float, 'H_PCT25': float, 'H_MEDIAN': float, 'H_PCT75': float,
       'H_PCT90': float, 'A_PCT10': float, 'A_PCT25': float, 'A_MEDIAN': float, 'A_PCT75': float, 'A_PCT90': float,
       'YEAR': int})
print(national_df.dtypes)

OCC_CODE      object
OCC_TITLE     object
OCC_GROUP     object
TOT_EMP        int32
EMP_PRSE     float64
H_MEAN       float64
A_MEAN       float64
MEAN_PRSE    float64
H_PCT10      float64
H_PCT25      float64
H_MEDIAN     float64
H_PCT75      float64
H_PCT90      float64
A_PCT10      float64
A_PCT25      float64
A_MEDIAN     float64
A_PCT75      float64
A_PCT90      float64
YEAR           int32
dtype: object

# State Salary Data

In [17]:
state2018_df = pd.read_excel("data/state_M2018_dl.xlsx")
state2019_df = pd.read_excel("data/state_M2019_dl.xlsx")
state2020_df = pd.read_excel("data/state_M2020_dl.xlsx")
state2021_df = pd.read_excel("data/state_M2021_dl.xlsx")
state2017_df = pd.read_excel("data/state_M2017_dl.xlsx")
state2017_df['Year'] = 2017
state2018_df['Year'] = 2018
state2019_df['Year'] = 2019
state2020_df['Year'] = 2020
state2021_df['Year'] = 2021

In [18]:
upper_columns(state2017_df)
upper_columns(state2018_df)
upper_columns(state2019_df)
upper_columns(state2020_df)
upper_columns(state2021_df)

In [19]:
state2019_df = state2019_df.rename(columns={'AREA_TITLE': 'STATE'})
state2020_df = state2020_df.rename(columns={'AREA_TITLE': 'STATE'})
state2021_df = state2021_df.rename(columns={'AREA_TITLE': 'STATE'})

state2019_df = state2019_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
state2020_df = state2020_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
state2021_df = state2021_df.rename(columns={'O_GROUP': 'OCC_GROUP'})

state2017_df = state2017_df.rename(columns={'LOC_Q': 'LOC_QUOTIENT'})
state2018_df = state2018_df.rename(columns={'LOC_Q': 'LOC_QUOTIENT'})

In [20]:
print(state2017_df.columns)

Index(['AREA', 'ST', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN',
       'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90',
       'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL',
       'HOURLY', 'YEAR'],
      dtype='object')

In [21]:
state2017_ordered = state2017_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2018_ordered = state2018_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2019_ordered = state2019_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2020_ordered = state2020_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2021_ordered = state2021_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]

In [22]:
state_df = pd.concat([state2017_ordered, state2018_ordered, state2019_ordered, state2020_ordered, state2021_ordered], axis=0)
state_df.shape

(183936, 23)

In [23]:
state_df = state_df[state_df['STATE'] != 'Guam'] 
state_df = state_df[state_df['STATE'] != 'Puerto Rico'] 
state_df = state_df[state_df['STATE'] != 'Virgin Islands']
state_df = state_df[state_df['STATE'] != 'District of Columbia']
state_df.shape

(176252, 23)

In [24]:
cols = list(state_df.columns)
for col in cols:
    state_df = state_df[state_df[col] != '#']
    state_df = state_df[state_df[col] != '*']
    state_df = state_df[state_df[col] != '**']
print(state_df.columns)
state_df.head(1)

Index(['AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN',
       'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90',
       'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR'],
      dtype='object')

,AREA,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,H_MEAN,...,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,1,Alabama,00-0000,All Occupations,total,1922570,0.4,1000,1,20.76,...,10.45,15.77,25.01,37.83,17770,21740,32800,52020,78690,2017

In [25]:
state_df = state_df.astype({'TOT_EMP': int, 'EMP_PRSE': float, 'JOBS_1000': float, 'LOC_QUOTIENT': float, 'H_MEAN': float,
       'A_MEAN': float, 'MEAN_PRSE': float, 'H_PCT10': float, 'H_PCT25': float, 'H_MEDIAN': float, 'H_PCT75': float,
       'H_PCT90': float, 'A_PCT10': float, 'A_PCT25': float, 'A_MEDIAN': float, 'A_PCT75': float, 'A_PCT90': float,
       'YEAR': int})
print(state_df.dtypes)

AREA              int64
STATE            object
OCC_CODE         object
OCC_TITLE        object
OCC_GROUP        object
TOT_EMP           int32
EMP_PRSE        float64
JOBS_1000       float64
LOC_QUOTIENT    float64
H_MEAN          float64
A_MEAN          float64
MEAN_PRSE       float64
H_PCT10         float64
H_PCT25         float64
H_MEDIAN        float64
H_PCT75         float64
H_PCT90         float64
A_PCT10         float64
A_PCT25         float64
A_MEDIAN        float64
A_PCT75         float64
A_PCT90         float64
YEAR              int32
dtype: object

In [26]:
poverty_nat = poverty_nat.dropna()
poverty_state = poverty_state.dropna()

In [27]:
print(poverty_nat.isna().sum())
print(poverty_state.isna().sum())
print(national_df.isna().sum())
print(state_df.isna().sum())

SAEMHI_MOE            0
SAEMHI_PT             0
SAEMHI_UB90           0
SAEPOV0_17_LB90       0
SAEPOV0_17_MOE        0
SAEPOV0_17_PT         0
SAEPOV0_17_UB90       0
SAEPOV0_4_LB90        0
SAEPOV0_4_MOE         0
SAEPOV0_4_PT          0
SAEPOV0_4_UB90        0
SAEPOV5_17R_LB90      0
SAEPOV5_17R_MOE       0
SAEPOV5_17R_PT        0
SAEPOV5_17R_UB90      0
SAEPOVALL_LB90        0
SAEPOVALL_MOE         0
SAEPOVALL_PT          0
SAEPOVALL_UB90        0
SAEPOVRT0_17_LB90     0
SAEPOVRT0_17_MOE      0
SAEPOVRT0_17_PT       0
SAEPOVRT0_17_UB90     0
SAEPOVRT0_4_LB90      0
SAEPOVRT0_4_MOE       0
SAEPOVRT0_4_PT        0
SAEPOVRT0_4_UB90      0
SAEPOVRT5_17R_LB90    0
SAEPOVRT5_17R_MOE     0
SAEPOVRT5_17R_PT      0
SAEPOVRT5_17R_UB90    0
SAEPOVRTALL_LB90      0
SAEPOVRTALL_MOE       0
SAEPOVRTALL_PT        0
SAEPOVRTALL_UB90      0
SAEPOVU_0_17          0
SAEPOVU_0_4           0
SAEPOVU_5_17R         0
SAEPOVU_ALL           0
YEAR                  0
dtype: int64
STATE                 0
SAEMHI_MOE            0
SAEMHI_PT             0
SAEMHI_UB90           0
SAEPOV0_17_LB90       0
SAEPOV0_17_MOE        0
SAEPOV0_17_PT         0
SAEPOV0_17_UB90       0
SAEPOV0_4_LB90        0
SAEPOV0_4_MOE         0
SAEPOV0_4_PT          0
SAEPOV0_4_UB90        0
SAEPOV5_17R_LB90      0
SAEPOV5_17R_MOE       0
SAEPOV5_17R_PT        0
SAEPOV5_17R_UB90      0
SAEPOVALL_LB90        0
SAEPOVALL_MOE         0
SAEPOVALL_PT          0
SAEPOVALL_UB90        0
SAEPOVRT0_17_LB90     0
SAEPOVRT0_17_MOE      0
SAEPOVRT0_17_PT       0
SAEPOVRT0_17_UB90     0
SAEPOVRT0_4_LB90      0
SAEPOVRT0_4_MOE       0
SAEPOVRT0_4_PT        0
SAEPOVRT0_4_UB90      0
SAEPOVRT5_17R_LB90    0
SAEPOVRT5_17R_MOE     0
SAEPOVRT5_17R_PT      0
SAEPOVRT5_17R_UB90    0
SAEPOVRTALL_LB90      0
SAEPOVRTALL_MOE       0
SAEPOVRTALL_PT        0
SAEPOVRTALL_UB90      0
SAEPOVU_0_17          0
SAEPOVU_0_4           0
SAEPOVU_5_17R         0
SAEPOVU_ALL           0
YEAR                  0
dtype: int64
OCC_CODE     0
OCC_TITLE    0
OCC_GROUP    0
TOT_EMP      0
EMP_PRSE     0
H_MEAN       0
A_MEAN       0
MEAN_PRSE    0
H_PCT10      0
H_PCT25      0
H_MEDIAN     0
H_PCT75      0
H_PCT90      0
A_PCT10      0
A_PCT25      0
A_MEDIAN     0
A_PCT75      0
A_PCT90      0
YEAR         0
dtype: int64
AREA            0
STATE           0
OCC_CODE        0
OCC_TITLE       0
OCC_GROUP       0
TOT_EMP         0
EMP_PRSE        0
JOBS_1000       0
LOC_QUOTIENT    0
H_MEAN          0
A_MEAN          0
MEAN_PRSE       0
H_PCT10         0
H_PCT25         0
H_MEDIAN        0
H_PCT75         0
H_PCT90         0
A_PCT10         0
A_PCT25         0
A_MEDIAN        0
A_PCT75         0
A_PCT90         0
YEAR            0
dtype: int64

In [29]:
print(poverty_nat.dtypes)
print(poverty_state.dtypes)
print(national_df.dtypes)
print(state_df.dtypes)

SAEMHI_MOE            object
SAEMHI_PT             object
SAEMHI_UB90           object
SAEPOV0_17_LB90       object
SAEPOV0_17_MOE        object
SAEPOV0_17_PT         object
SAEPOV0_17_UB90       object
SAEPOV0_4_LB90        object
SAEPOV0_4_MOE         object
SAEPOV0_4_PT          object
SAEPOV0_4_UB90        object
SAEPOV5_17R_LB90      object
SAEPOV5_17R_MOE       object
SAEPOV5_17R_PT        object
SAEPOV5_17R_UB90      object
SAEPOVALL_LB90        object
SAEPOVALL_MOE         object
SAEPOVALL_PT          object
SAEPOVALL_UB90        object
SAEPOVRT0_17_LB90     object
SAEPOVRT0_17_MOE      object
SAEPOVRT0_17_PT       object
SAEPOVRT0_17_UB90     object
SAEPOVRT0_4_LB90      object
SAEPOVRT0_4_MOE       object
SAEPOVRT0_4_PT        object
SAEPOVRT0_4_UB90      object
SAEPOVRT5_17R_LB90    object
SAEPOVRT5_17R_MOE     object
SAEPOVRT5_17R_PT      object
SAEPOVRT5_17R_UB90    object
SAEPOVRTALL_LB90      object
SAEPOVRTALL_MOE       object
SAEPOVRTALL_PT        object
SAEPOVRTALL_UB90      object
SAEPOVU_0_17          object
SAEPOVU_0_4           object
SAEPOVU_5_17R         object
SAEPOVU_ALL           object
YEAR                  object
dtype: object
STATE                 object
SAEMHI_MOE            object
SAEMHI_PT             object
SAEMHI_UB90           object
SAEPOV0_17_LB90       object
SAEPOV0_17_MOE        object
SAEPOV0_17_PT         object
SAEPOV0_17_UB90       object
SAEPOV0_4_LB90        object
SAEPOV0_4_MOE         object
SAEPOV0_4_PT          object
SAEPOV0_4_UB90        object
SAEPOV5_17R_LB90      object
SAEPOV5_17R_MOE       object
SAEPOV5_17R_PT        object
SAEPOV5_17R_UB90      object
SAEPOVALL_LB90        object
SAEPOVALL_MOE         object
SAEPOVALL_PT          object
SAEPOVALL_UB90        object
SAEPOVRT0_17_LB90     object
SAEPOVRT0_17_MOE      object
SAEPOVRT0_17_PT       object
SAEPOVRT0_17_UB90     object
SAEPOVRT0_4_LB90      object
SAEPOVRT0_4_MOE       object
SAEPOVRT0_4_PT        object
SAEPOVRT0_4_UB90      object
SAEPOVRT5_17R_LB90    object
SAEPOVRT5_17R_MOE     object
SAEPOVRT5_17R_PT      object
SAEPOVRT5_17R_UB90    object
SAEPOVRTALL_LB90      object
SAEPOVRTALL_MOE       object
SAEPOVRTALL_PT        object
SAEPOVRTALL_UB90      object
SAEPOVU_0_17          object
SAEPOVU_0_4           object
SAEPOVU_5_17R         object
SAEPOVU_ALL           object
YEAR                  object
dtype: object
OCC_CODE      object
OCC_TITLE     object
OCC_GROUP     object
TOT_EMP        int32
EMP_PRSE     float64
H_MEAN       float64
A_MEAN       float64
MEAN_PRSE    float64
H_PCT10      float64
H_PCT25      float64
H_MEDIAN     float64
H_PCT75      float64
H_PCT90      float64
A_PCT10      float64
A_PCT25      float64
A_MEDIAN     float64
A_PCT75      float64
A_PCT90      float64
YEAR           int32
dtype: object
AREA              int64
STATE            object
OCC_CODE         object
OCC_TITLE        object
OCC_GROUP        object
TOT_EMP           int32
EMP_PRSE        float64
JOBS_1000       float64
LOC_QUOTIENT    float64
H_MEAN          float64
A_MEAN          float64
MEAN_PRSE       float64
H_PCT10         float64
H_PCT25         float64
H_MEDIAN        float64
H_PCT75         float64
H_PCT90         float64
A_PCT10         float64
A_PCT25         float64
A_MEDIAN        float64
A_PCT75         float64
A_PCT90         float64
YEAR              int32
dtype: object

In [28]:
poverty_nat.to_csv('ml/national_poverty.csv', index=False)
poverty_state.to_csv('ml/state_poverty.csv', index=False)
national_df.to_csv('ml/national_salary.csv', index=False)
state_df.to_csv('ml/state_salary.csv', index=False)