# ETL

In [31]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup

# Poverty API Data

In [32]:
response = None
# url1 = 'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEPOVRTALL_PT,SAEPOVRT0_17_PT,SAEMHI_PT,YEAR&for=state:*'
# url2 ='https://api.census.gov/data/timeseries/poverty/saipe?get=SAEPOVRTALL_PT,SAEPOVRT0_17_PT,SAEMHI_PT,YEAR&for=us'
url1 = 'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,SAEPOV0_4_PT,SAEPOV0_4_UB90,SAEPOV5_17R_LB90,SAEPOV5_17R_MOE,SAEPOV5_17R_PT,SAEPOV5_17R_UB90,SAEPOVALL_LB90,SAEPOVALL_MOE,SAEPOVALL_PT,SAEPOVALL_UB90,SAEPOVRT0_17_LB90,SAEPOVRT0_17_MOE,SAEPOVRT0_17_PT,SAEPOVRT0_17_UB90,SAEPOVRT0_4_LB90,SAEPOVRT0_4_MOE,SAEPOVRT0_4_PT,SAEPOVRT0_4_UB90,SAEPOVRT5_17R_LB90,SAEPOVRT5_17R_MOE,SAEPOVRT5_17R_PT,SAEPOVRT5_17R_UB90,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR&for=state:*'
url2 = 'https://api.census.gov/data/timeseries/poverty/saipe?get=SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,SAEPOV0_4_PT,SAEPOV0_4_UB90,SAEPOV5_17R_LB90,SAEPOV5_17R_MOE,SAEPOV5_17R_PT,SAEPOV5_17R_UB90,SAEPOVALL_LB90,SAEPOVALL_MOE,SAEPOVALL_PT,SAEPOVALL_UB90,SAEPOVRT0_17_LB90,SAEPOVRT0_17_MOE,SAEPOVRT0_17_PT,SAEPOVRT0_17_UB90,SAEPOVRT0_4_LB90,SAEPOVRT0_4_MOE,SAEPOVRT0_4_PT,SAEPOVRT0_4_UB90,SAEPOVRT5_17R_LB90,SAEPOVRT5_17R_MOE,SAEPOVRT5_17R_PT,SAEPOVRT5_17R_UB90,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR&for=us'

poverty_response1 = requests.get(url1)
poverty_response2 = requests.get(url2)

In [33]:
poverty_response_json1 = poverty_response1.json()
poverty_response_json2 = poverty_response2.json()

In [34]:
poverty_state = pd.DataFrame(poverty_response_json1[1:], columns=poverty_response_json1[0])
poverty_nat = pd.DataFrame(poverty_response_json2[1:], columns=poverty_response_json2[0])

In [35]:
poverty_state = poverty_state.drop(columns='state')
poverty_nat = poverty_nat.drop(columns='us')

poverty_state = poverty_state.rename(columns={"NAME": "STATE"})

In [36]:
print(poverty_state.shape)
print(poverty_state.columns)
print(poverty_nat.shape)
print(poverty_nat.columns)
display(poverty_state.head(1))

(1479, 41)
Index(['STATE', 'SAEMHI_MOE', 'SAEMHI_PT', 'SAEMHI_UB90', 'SAEPOV0_17_LB90',
       'SAEPOV0_17_MOE', 'SAEPOV0_17_PT', 'SAEPOV0_17_UB90', 'SAEPOV0_4_LB90',
       'SAEPOV0_4_MOE', 'SAEPOV0_4_PT', 'SAEPOV0_4_UB90', 'SAEPOV5_17R_LB90',
       'SAEPOV5_17R_MOE', 'SAEPOV5_17R_PT', 'SAEPOV5_17R_UB90',
       'SAEPOVALL_LB90', 'SAEPOVALL_MOE', 'SAEPOVALL_PT', 'SAEPOVALL_UB90',
       'SAEPOVRT0_17_LB90', 'SAEPOVRT0_17_MOE', 'SAEPOVRT0_17_PT',
       'SAEPOVRT0_17_UB90', 'SAEPOVRT0_4_LB90', 'SAEPOVRT0_4_MOE',
       'SAEPOVRT0_4_PT', 'SAEPOVRT0_4_UB90', 'SAEPOVRT5_17R_LB90',
       'SAEPOVRT5_17R_MOE', 'SAEPOVRT5_17R_PT', 'SAEPOVRT5_17R_UB90',
       'SAEPOVRTALL_LB90', 'SAEPOVRTALL_MOE', 'SAEPOVRTALL_PT',
       'SAEPOVRTALL_UB90', 'SAEPOVU_0_17', 'SAEPOVU_0_4', 'SAEPOVU_5_17R',
       'SAEPOVU_ALL', 'YEAR'],
      dtype='object')
(29, 40)
Index(['SAEMHI_MOE', 'SAEMHI_PT', 'SAEMHI_UB90', 'SAEPOV0_17_LB90',
       'SAEPOV0_17_MOE', 'SAEPOV0_17_PT', 'SAEPOV0_17_UB90', 'SAEPOV0_4_LB90',
       'SAEPOV0_4_MOE', 'SAEPOV0_4_PT', 'SAEPOV0_4_UB90', 'SAEPOV5_17R_LB90',
       'SAEPOV5_17R_MOE', 'SAEPOV5_17R_PT', 'SAEPOV5_17R_UB90',
       'SAEPOVALL_LB90', 'SAEPOVALL_MOE', 'SAEPOVALL_PT', 'SAEPOVALL_UB90',
       'SAEPOVRT0_17_LB90', 'SAEPOVRT0_17_MOE', 'SAEPOVRT0_17_PT',
       'SAEPOVRT0_17_UB90', 'SAEPOVRT0_4_LB90', 'SAEPOVRT0_4_MOE',
       'SAEPOVRT0_4_PT', 'SAEPOVRT0_4_UB90', 'SAEPOVRT5_17R_LB90',
       'SAEPOVRT5_17R_MOE', 'SAEPOVRT5_17R_PT', 'SAEPOVRT5_17R_UB90',
       'SAEPOVRTALL_LB90', 'SAEPOVRTALL_MOE', 'SAEPOVRTALL_PT',
       'SAEPOVRTALL_UB90', 'SAEPOVU_0_17', 'SAEPOVU_0_4', 'SAEPOVU_5_17R',
       'SAEPOVU_ALL', 'YEAR'],
      dtype='object')

,STATE,SAEMHI_MOE,SAEMHI_PT,SAEMHI_UB90,SAEPOV0_17_LB90,SAEPOV0_17_MOE,SAEPOV0_17_PT,SAEPOV0_17_UB90,SAEPOV0_4_LB90,SAEPOV0_4_MOE,...,SAEPOVRT5_17R_UB90,SAEPOVRTALL_LB90,SAEPOVRTALL_MOE,SAEPOVRTALL_PT,SAEPOVRTALL_UB90,SAEPOVU_0_17,SAEPOVU_0_4,SAEPOVU_5_17R,SAEPOVU_ALL,YEAR
0,Alabama,1076,22202,23278,243761,14895,258656,273551,66684,8852,...,24.3,17.0,0.65,17.7,18.3,None,None,None,None,1989

In [37]:
poverty_state = poverty_state.astype({
    'SAEMHI_MOE': float, 'SAEMHI_PT': float, 'SAEMHI_UB90': float, 'SAEPOV0_17_LB90': float,
    'SAEPOV0_17_MOE': float, 'SAEPOV0_17_PT': float, 'SAEPOV0_17_UB90': float, 'SAEPOV0_4_LB90': float,
    'SAEPOV0_4_MOE': float, 'SAEPOV0_4_PT': float, 'SAEPOV0_4_UB90': float, 'SAEPOV5_17R_LB90': float,
    'SAEPOV5_17R_MOE': float, 'SAEPOV5_17R_PT': float, 'SAEPOV5_17R_UB90': float,
    'SAEPOVALL_LB90': float, 'SAEPOVALL_MOE': float, 'SAEPOVALL_PT': float, 'SAEPOVALL_UB90': float,
    'SAEPOVRT0_17_LB90': float, 'SAEPOVRT0_17_MOE': float, 'SAEPOVRT0_17_PT': float,
    'SAEPOVRT0_17_UB90': float, 'SAEPOVRT0_4_LB90': float, 'SAEPOVRT0_4_MOE': float,
    'SAEPOVRT0_4_PT': float, 'SAEPOVRT0_4_UB90': float, 'SAEPOVRT5_17R_LB90': float,
    'SAEPOVRT5_17R_MOE': float, 'SAEPOVRT5_17R_PT': float, 'SAEPOVRT5_17R_UB90': float,
    'SAEPOVRTALL_LB90': float, 'SAEPOVRTALL_MOE': float, 'SAEPOVRTALL_PT': float,
    'SAEPOVRTALL_UB90': float, 'SAEPOVU_0_17': float, 'SAEPOVU_0_4': float, 'SAEPOVU_5_17R': float,
    'SAEPOVU_ALL': float, 'YEAR': int
    })
poverty_nat = poverty_nat.astype({
    'SAEMHI_MOE': float, 'SAEMHI_PT': float, 'SAEMHI_UB90': float, 'SAEPOV0_17_LB90': float,
    'SAEPOV0_17_MOE': float, 'SAEPOV0_17_PT': float, 'SAEPOV0_17_UB90': float, 'SAEPOV0_4_LB90': float,
    'SAEPOV0_4_MOE': float, 'SAEPOV0_4_PT': float, 'SAEPOV0_4_UB90': float, 'SAEPOV5_17R_LB90': float,
    'SAEPOV5_17R_MOE': float, 'SAEPOV5_17R_PT': float, 'SAEPOV5_17R_UB90': float,
    'SAEPOVALL_LB90': float, 'SAEPOVALL_MOE': float, 'SAEPOVALL_PT': float, 'SAEPOVALL_UB90': float,
    'SAEPOVRT0_17_LB90': float, 'SAEPOVRT0_17_MOE': float, 'SAEPOVRT0_17_PT': float,
    'SAEPOVRT0_17_UB90': float, 'SAEPOVRT0_4_LB90': float, 'SAEPOVRT0_4_MOE': float,
    'SAEPOVRT0_4_PT': float, 'SAEPOVRT0_4_UB90': float, 'SAEPOVRT5_17R_LB90': float,
    'SAEPOVRT5_17R_MOE': float, 'SAEPOVRT5_17R_PT': float, 'SAEPOVRT5_17R_UB90': float,
    'SAEPOVRTALL_LB90': float, 'SAEPOVRTALL_MOE': float, 'SAEPOVRTALL_PT': float,
    'SAEPOVRTALL_UB90': float, 'SAEPOVU_0_17': float, 'SAEPOVU_0_4': float, 'SAEPOVU_5_17R': float,
    'SAEPOVU_ALL': float, 'YEAR': int
    })

In [38]:
poverty_state = poverty_state[poverty_state['STATE'] != 'Guam'] 
poverty_state = poverty_state[poverty_state['STATE'] != 'Puerto Rico'] 
poverty_state = poverty_state[poverty_state['STATE'] != 'Virgin Islands']
poverty_state = poverty_state[poverty_state['STATE'] != 'District of Columbia']

# National Salary Data

In [39]:
national2018_df = pd.read_excel("../data/national_M2018_dl.xlsx")
national2019_df = pd.read_excel("../data/national_M2019_dl.xlsx")
national2020_df = pd.read_excel("../data/national_M2020_dl.xlsx")
national2021_df = pd.read_excel("../data/national_M2021_dl.xlsx")
national2017_df = pd.read_excel("../data/national_M2017_dl.xlsx")
national2017_df['Year'] = 2017
national2018_df['Year'] = 2018
national2019_df['Year'] = 2019
national2020_df['Year'] = 2020
national2021_df['Year'] = 2021

In [40]:
def upper_columns(data):
    columns = data
    myList = []
    for name in columns:
        myList.append(name.upper())
    data.columns = myList

In [41]:
upper_columns(national2017_df)
upper_columns(national2018_df)
upper_columns(national2019_df)
upper_columns(national2020_df)
upper_columns(national2021_df)

In [42]:
national2019_df = national2019_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
national2020_df = national2020_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
national2021_df = national2021_df.rename(columns={'O_GROUP': 'OCC_GROUP'})

In [43]:
national2017_ordered = national2017_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2018_ordered = national2018_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2019_ordered = national2019_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2020_ordered = national2020_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]
national2021_ordered = national2021_df[[
    'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
    'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
    'YEAR']]

In [44]:
national_df = pd.concat([national2017_ordered, national2018_ordered, national2019_ordered, national2020_ordered, national2021_ordered], axis=0)
national_df.shape
national_df.columns

Index(['OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'H_MEAN',
       'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75',
       'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90',
       'YEAR'],
      dtype='object')

In [45]:
cols = list(national_df.columns)
for col in cols: 
    national_df = national_df[national_df[col] != '#']
    national_df = national_df[national_df[col] != '*']
    national_df = national_df[national_df[col] != '**']
national_df.head(1)

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,00-0000,All Occupations,total,142549250,0.1,24.34,50620,0.1,9.6,11.91,18.12,29.38,46.23,19970,24770,37690,61110,96150,2017

In [46]:
national_df = national_df.astype({'TOT_EMP': int, 'EMP_PRSE': float, 'H_MEAN': float,
       'A_MEAN': float, 'MEAN_PRSE': float, 'H_PCT10': float, 'H_PCT25': float, 'H_MEDIAN': float, 'H_PCT75': float,
       'H_PCT90': float, 'A_PCT10': float, 'A_PCT25': float, 'A_MEDIAN': float, 'A_PCT75': float, 'A_PCT90': float,
       'YEAR': int})
print(national_df.dtypes)

OCC_CODE      object
OCC_TITLE     object
OCC_GROUP     object
TOT_EMP        int32
EMP_PRSE     float64
H_MEAN       float64
A_MEAN       float64
MEAN_PRSE    float64
H_PCT10      float64
H_PCT25      float64
H_MEDIAN     float64
H_PCT75      float64
H_PCT90      float64
A_PCT10      float64
A_PCT25      float64
A_MEDIAN     float64
A_PCT75      float64
A_PCT90      float64
YEAR           int32
dtype: object

# State Salary Data

In [47]:
state2018_df = pd.read_excel("../data/state_M2018_dl.xlsx")
state2019_df = pd.read_excel("../data/state_M2019_dl.xlsx")
state2020_df = pd.read_excel("../data/state_M2020_dl.xlsx")
state2021_df = pd.read_excel("../data/state_M2021_dl.xlsx")
state2017_df = pd.read_excel("../data/state_M2017_dl.xlsx")
state2017_df['Year'] = 2017
state2018_df['Year'] = 2018
state2019_df['Year'] = 2019
state2020_df['Year'] = 2020
state2021_df['Year'] = 2021

In [48]:
upper_columns(state2017_df)
upper_columns(state2018_df)
upper_columns(state2019_df)
upper_columns(state2020_df)
upper_columns(state2021_df)

In [49]:
state2019_df = state2019_df.rename(columns={'AREA_TITLE': 'STATE'})
state2020_df = state2020_df.rename(columns={'AREA_TITLE': 'STATE'})
state2021_df = state2021_df.rename(columns={'AREA_TITLE': 'STATE'})

state2019_df = state2019_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
state2020_df = state2020_df.rename(columns={'O_GROUP': 'OCC_GROUP'})
state2021_df = state2021_df.rename(columns={'O_GROUP': 'OCC_GROUP'})

state2017_df = state2017_df.rename(columns={'LOC_Q': 'LOC_QUOTIENT'})
state2018_df = state2018_df.rename(columns={'LOC_Q': 'LOC_QUOTIENT'})

In [50]:
print(state2017_df.columns)

Index(['AREA', 'ST', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN',
       'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90',
       'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL',
       'HOURLY', 'YEAR'],
      dtype='object')

In [51]:
state2017_ordered = state2017_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2018_ordered = state2018_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2019_ordered = state2019_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2020_ordered = state2020_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]
state2021_ordered = state2021_df[[
    'AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
    'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE',
    'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10',
    'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR']]

In [52]:
state_df = pd.concat([state2017_ordered, state2018_ordered, state2019_ordered, state2020_ordered, state2021_ordered], axis=0)
state_df.shape

(183936, 23)

In [53]:
state_df = state_df[state_df['STATE'] != 'Guam'] 
state_df = state_df[state_df['STATE'] != 'Puerto Rico'] 
state_df = state_df[state_df['STATE'] != 'Virgin Islands']
state_df = state_df[state_df['STATE'] != 'District of Columbia']
state_df.shape

(176252, 23)

In [54]:
cols = list(state_df.columns)
for col in cols:
    state_df = state_df[state_df[col] != '#']
    state_df = state_df[state_df[col] != '*']
    state_df = state_df[state_df[col] != '**']
print(state_df.columns)
state_df.head(1)

Index(['AREA', 'STATE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN',
       'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90',
       'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'YEAR'],
      dtype='object')

,AREA,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,H_MEAN,...,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,1,Alabama,00-0000,All Occupations,total,1922570,0.4,1000,1,20.76,...,10.45,15.77,25.01,37.83,17770,21740,32800,52020,78690,2017

In [55]:
state_df = state_df.astype({'TOT_EMP': int, 'EMP_PRSE': float, 'JOBS_1000': float, 'LOC_QUOTIENT': float, 'H_MEAN': float,
       'A_MEAN': float, 'MEAN_PRSE': float, 'H_PCT10': float, 'H_PCT25': float, 'H_MEDIAN': float, 'H_PCT75': float,
       'H_PCT90': float, 'A_PCT10': float, 'A_PCT25': float, 'A_MEDIAN': float, 'A_PCT75': float, 'A_PCT90': float,
       'YEAR': int})
print(state_df.dtypes)

AREA              int64
STATE            object
OCC_CODE         object
OCC_TITLE        object
OCC_GROUP        object
TOT_EMP           int32
EMP_PRSE        float64
JOBS_1000       float64
LOC_QUOTIENT    float64
H_MEAN          float64
A_MEAN          float64
MEAN_PRSE       float64
H_PCT10         float64
H_PCT25         float64
H_MEDIAN        float64
H_PCT75         float64
H_PCT90         float64
A_PCT10         float64
A_PCT25         float64
A_MEDIAN        float64
A_PCT75         float64
A_PCT90         float64
YEAR              int32
dtype: object

In [56]:
poverty_nat = poverty_nat.dropna()
poverty_state = poverty_state.dropna()

In [57]:
print(poverty_nat.isna().sum())
print(poverty_state.isna().sum())
print(national_df.isna().sum())
print(state_df.isna().sum())

SAEMHI_MOE            0
SAEMHI_PT             0
SAEMHI_UB90           0
SAEPOV0_17_LB90       0
SAEPOV0_17_MOE        0
SAEPOV0_17_PT         0
SAEPOV0_17_UB90       0
SAEPOV0_4_LB90        0
SAEPOV0_4_MOE         0
SAEPOV0_4_PT          0
SAEPOV0_4_UB90        0
SAEPOV5_17R_LB90      0
SAEPOV5_17R_MOE       0
SAEPOV5_17R_PT        0
SAEPOV5_17R_UB90      0
SAEPOVALL_LB90        0
SAEPOVALL_MOE         0
SAEPOVALL_PT          0
SAEPOVALL_UB90        0
SAEPOVRT0_17_LB90     0
SAEPOVRT0_17_MOE      0
SAEPOVRT0_17_PT       0
SAEPOVRT0_17_UB90     0
SAEPOVRT0_4_LB90      0
SAEPOVRT0_4_MOE       0
SAEPOVRT0_4_PT        0
SAEPOVRT0_4_UB90      0
SAEPOVRT5_17R_LB90    0
SAEPOVRT5_17R_MOE     0
SAEPOVRT5_17R_PT      0
SAEPOVRT5_17R_UB90    0
SAEPOVRTALL_LB90      0
SAEPOVRTALL_MOE       0
SAEPOVRTALL_PT        0
SAEPOVRTALL_UB90      0
SAEPOVU_0_17          0
SAEPOVU_0_4           0
SAEPOVU_5_17R         0
SAEPOVU_ALL           0
YEAR                  0
dtype: int64
STATE                 0
SAEMHI_MOE            0
SAEMHI_PT             0
SAEMHI_UB90           0
SAEPOV0_17_LB90       0
SAEPOV0_17_MOE        0
SAEPOV0_17_PT         0
SAEPOV0_17_UB90       0
SAEPOV0_4_LB90        0
SAEPOV0_4_MOE         0
SAEPOV0_4_PT          0
SAEPOV0_4_UB90        0
SAEPOV5_17R_LB90      0
SAEPOV5_17R_MOE       0
SAEPOV5_17R_PT        0
SAEPOV5_17R_UB90      0
SAEPOVALL_LB90        0
SAEPOVALL_MOE         0
SAEPOVALL_PT          0
SAEPOVALL_UB90        0
SAEPOVRT0_17_LB90     0
SAEPOVRT0_17_MOE      0
SAEPOVRT0_17_PT       0
SAEPOVRT0_17_UB90     0
SAEPOVRT0_4_LB90      0
SAEPOVRT0_4_MOE       0
SAEPOVRT0_4_PT        0
SAEPOVRT0_4_UB90      0
SAEPOVRT5_17R_LB90    0
SAEPOVRT5_17R_MOE     0
SAEPOVRT5_17R_PT      0
SAEPOVRT5_17R_UB90    0
SAEPOVRTALL_LB90      0
SAEPOVRTALL_MOE       0
SAEPOVRTALL_PT        0
SAEPOVRTALL_UB90      0
SAEPOVU_0_17          0
SAEPOVU_0_4           0
SAEPOVU_5_17R         0
SAEPOVU_ALL           0
YEAR                  0
dtype: int64
OCC_CODE     0
OCC_TITLE    0
OCC_GROUP    0
TOT_EMP      0
EMP_PRSE     0
H_MEAN       0
A_MEAN       0
MEAN_PRSE    0
H_PCT10      0
H_PCT25      0
H_MEDIAN     0
H_PCT75      0
H_PCT90      0
A_PCT10      0
A_PCT25      0
A_MEDIAN     0
A_PCT75      0
A_PCT90      0
YEAR         0
dtype: int64
AREA            0
STATE           0
OCC_CODE        0
OCC_TITLE       0
OCC_GROUP       0
TOT_EMP         0
EMP_PRSE        0
JOBS_1000       0
LOC_QUOTIENT    0
H_MEAN          0
A_MEAN          0
MEAN_PRSE       0
H_PCT10         0
H_PCT25         0
H_MEDIAN        0
H_PCT75         0
H_PCT90         0
A_PCT10         0
A_PCT25         0
A_MEDIAN        0
A_PCT75         0
A_PCT90         0
YEAR            0
dtype: int64

In [58]:
print(poverty_nat.dtypes)
print(poverty_state.dtypes)
print(national_df.dtypes)
print(state_df.dtypes)

SAEMHI_MOE            float64
SAEMHI_PT             float64
SAEMHI_UB90           float64
SAEPOV0_17_LB90       float64
SAEPOV0_17_MOE        float64
SAEPOV0_17_PT         float64
SAEPOV0_17_UB90       float64
SAEPOV0_4_LB90        float64
SAEPOV0_4_MOE         float64
SAEPOV0_4_PT          float64
SAEPOV0_4_UB90        float64
SAEPOV5_17R_LB90      float64
SAEPOV5_17R_MOE       float64
SAEPOV5_17R_PT        float64
SAEPOV5_17R_UB90      float64
SAEPOVALL_LB90        float64
SAEPOVALL_MOE         float64
SAEPOVALL_PT          float64
SAEPOVALL_UB90        float64
SAEPOVRT0_17_LB90     float64
SAEPOVRT0_17_MOE      float64
SAEPOVRT0_17_PT       float64
SAEPOVRT0_17_UB90     float64
SAEPOVRT0_4_LB90      float64
SAEPOVRT0_4_MOE       float64
SAEPOVRT0_4_PT        float64
SAEPOVRT0_4_UB90      float64
SAEPOVRT5_17R_LB90    float64
SAEPOVRT5_17R_MOE     float64
SAEPOVRT5_17R_PT      float64
SAEPOVRT5_17R_UB90    float64
SAEPOVRTALL_LB90      float64
SAEPOVRTALL_MOE       float64
SAEPOVRTALL_PT        float64
SAEPOVRTALL_UB90      float64
SAEPOVU_0_17          float64
SAEPOVU_0_4           float64
SAEPOVU_5_17R         float64
SAEPOVU_ALL           float64
YEAR                    int32
dtype: object
STATE                  object
SAEMHI_MOE            float64
SAEMHI_PT             float64
SAEMHI_UB90           float64
SAEPOV0_17_LB90       float64
SAEPOV0_17_MOE        float64
SAEPOV0_17_PT         float64
SAEPOV0_17_UB90       float64
SAEPOV0_4_LB90        float64
SAEPOV0_4_MOE         float64
SAEPOV0_4_PT          float64
SAEPOV0_4_UB90        float64
SAEPOV5_17R_LB90      float64
SAEPOV5_17R_MOE       float64
SAEPOV5_17R_PT        float64
SAEPOV5_17R_UB90      float64
SAEPOVALL_LB90        float64
SAEPOVALL_MOE         float64
SAEPOVALL_PT          float64
SAEPOVALL_UB90        float64
SAEPOVRT0_17_LB90     float64
SAEPOVRT0_17_MOE      float64
SAEPOVRT0_17_PT       float64
SAEPOVRT0_17_UB90     float64
SAEPOVRT0_4_LB90      float64
SAEPOVRT0_4_MOE       float64
SAEPOVRT0_4_PT        float64
SAEPOVRT0_4_UB90      float64
SAEPOVRT5_17R_LB90    float64
SAEPOVRT5_17R_MOE     float64
SAEPOVRT5_17R_PT      float64
SAEPOVRT5_17R_UB90    float64
SAEPOVRTALL_LB90      float64
SAEPOVRTALL_MOE       float64
SAEPOVRTALL_PT        float64
SAEPOVRTALL_UB90      float64
SAEPOVU_0_17          float64
SAEPOVU_0_4           float64
SAEPOVU_5_17R         float64
SAEPOVU_ALL           float64
YEAR                    int32
dtype: object
OCC_CODE      object
OCC_TITLE     object
OCC_GROUP     object
TOT_EMP        int32
EMP_PRSE     float64
H_MEAN       float64
A_MEAN       float64
MEAN_PRSE    float64
H_PCT10      float64
H_PCT25      float64
H_MEDIAN     float64
H_PCT75      float64
H_PCT90      float64
A_PCT10      float64
A_PCT25      float64
A_MEDIAN     float64
A_PCT75      float64
A_PCT90      float64
YEAR           int32
dtype: object
AREA              int64
STATE            object
OCC_CODE         object
OCC_TITLE        object
OCC_GROUP        object
TOT_EMP           int32
EMP_PRSE        float64
JOBS_1000       float64
LOC_QUOTIENT    float64
H_MEAN          float64
A_MEAN          float64
MEAN_PRSE       float64
H_PCT10         float64
H_PCT25         float64
H_MEDIAN        float64
H_PCT75         float64
H_PCT90         float64
A_PCT10         float64
A_PCT25         float64
A_MEDIAN        float64
A_PCT75         float64
A_PCT90         float64
YEAR              int32
dtype: object

In [59]:
states_merged = state_df.merge(poverty_state, on=['STATE', 'YEAR'])

In [60]:
poverty_nat.to_csv('ml/national_poverty.csv', index=False)
poverty_state.to_csv('ml/state_poverty.csv', index=False)
national_df.to_csv('ml/national_salary.csv', index=False)
state_df.to_csv('ml/state_salary.csv', index=False)
states_merged.to_csv('output/state_poverty_and_income.csv')